In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt

In [2]:
dataFolder = r"C:\Users\rfg\OneDrive\Desktop\Dissertation ES30029\data"

In [3]:
# Load master dataframe
df = pd.DataFrame(np.load(r'..\data\master_initial.npy', allow_pickle=True))
cols = np.load(r'..\data\columns_initial.npy', allow_pickle=True)
df.columns = cols
df.drop(['dsindustry6','icbindustry2', 'gilt3m', 'map_18m', 'map_24m', 'map_36m', 'ret_18m', 'ret_24m', 'ret_36m', 'std_18m', 'std_24m', 'std_36m'], axis=1, inplace=True)
df[df.columns[2:]] = df[df.columns[2:]].astype('float')
df.insert(2, 'eligible', 0)
df.insert(15, 'r_t1', np.nan)

In [4]:
# Global variables
fields = list(df.columns)
nonfields = ['date', 'companyid', 'eligible']
for i in nonfields:
    fields.remove(i)

In [5]:
frames = []
for name, frame in df.groupby('companyid'):
    frame['r_t1'] = frame['r'].shift(-1)
    frames.append(frame)

df = pd.concat(frames, axis=0).sort_index()

c:\users\rfg\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
'''
Eligible field has:
    1 - All data available in period t
    2 - Return available in period t+1
'''
# Find number of fields available
df['eligible'] = ((1- df[fields].isna()) * 1).sum(axis=1)
# Set eligible = 1 if all fields are available (34 fields)
df['eligible'][df['eligible']!=len(fields)] = 0
df['eligible'][df['eligible']==len(fields)] = 1

print(df['eligible'].sum())

166278

c:\users\rfg\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
c:\users\rfg\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
df

,date,companyid,eligible,p,so,eps,dy,mv,fcf,opmarg,...,ind_financials,ind_energy,ind_consumerdiscretionary,ind_consumerstaples,ind_basicmaterials,ind_industrials,ind_healthcare,ind_utilities,ind_realestate,ind_telecommunications
0,1995-12-31,312697.0,0,278.00,45568.0,12.72,2.16,126.69,0.119,9.39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1995-12-31,900489.0,0,636.00,1320506.0,49.76,3.79,8393.36,0.411,14.84,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1995-12-31,917574.0,0,52.00,104678.0,1.26,2.02,52.52,0.006,8.20,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1995-12-31,904312.0,0,224.11,67667.0,10.99,2.11,149.94,0.045,3.58,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1995-12-31,506391.0,0,68.21,135793.0,2.38,2.95,90.01,0.014,31.80,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427519,2018-11-30,9014CW,0,595.00,74329.0,NaN,0.00,442.26,1.115,16.05,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427520,2018-11-30,89523C,0,1515.00,113777.0,2.55,11.32,1724.52,0.569,68.98,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427521,2018-11-30,9297XT,0,114.00,1201799.0,NaN,0.00,1370.05,0.006,3.85,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427522,2018-11-30,9339MD,0,1390.00,228003.0,NaN,0.00,3169.24,0.173,4.82,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427523,2018-11-30,9337LW,0,388.00,346033.0,NaN,0.00,1341.66,-0.109,-32.49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# Save over master file with new df from above
np.save(dataFolder+'\master_prepared.npy', df)
np.save(dataFolder+'\columns_prepared.npy', list(df.columns))