# Import libraries

In [1]:
import pandas as pd
import numpy as np
import xlwings as xw
import matplotlib.pyplot as plt
import os
import datetime as dt

# Define Globals

In [2]:
if os.environ["COMPUTERNAME"] == "SURFACEBOOK":
    laptop = True
else:
    laptop = False   

if not laptop:
    xlDataName = '\DissData [03].xlsx'

else:
    xlDataName = '\DissData [03]'

dataFolder = r"C:\Users\rfg\OneDrive\Desktop\Dissertation ES30029\data"
companyNamesRange = "A1:A2009"
cellRng = "A1:BYH288"
xlBook = xw.books(xlDataName[1:])
sheetWhitelist = ['all_companies']
sectors = ['dsindustry6', 'icbindustry2']
fields = []

# Read data from Excel

In [3]:
fields = []
for sheet in xlBook.sheets:
    if sheet.name not in sheetWhitelist:
        exec('{} = pd.DataFrame(xw.books(xlDataName[1:]).sheets("{}").range(cellRng).value)'.format(sheet.name, sheet.name))
        exec('fields.append({})'.format(sheet.name))
        exec('{}.name = "{}"'.format(sheet.name, sheet.name))
        exec('{}.iloc[0][0] = "{}"'.format(sheet.name, sheet.name))



# Clean up the dataframes to have correct cols and rows

for field in fields:
    print(field.name)
    companyNames = [str(i) for i in xlBook.sheets("all_companies").range(companyNamesRange).value]
    companyNames.insert(0, field.iloc[0][0])
    field.columns = companyNames
    field.index = field[field.columns[0]]
    del field[field.columns[0]]
    field.drop(field.index[0], inplace=True)
    field.replace("NA", np.nan, inplace=True)
    field = field.apply(pd.to_numeric,errors='coerce')

c:\users\rfg\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

p
so
eps
mvtbv
dy
mv
dsindustry6
icbindustry2
fcf
opmarg
roe
roic
debtpct

# Useful Functions

In [4]:
def drop_from_fields(fieldName):
    global fields
    fields = [field for field in fields if field.name != fieldName]


# Data Cleaning

### Reshape Sectors

In [5]:
sectorFields = [dsindustry6, icbindustry2]

dsindustry6.index = p.index
dsindustry6[1:] = dsindustry6.iloc[0].values
print('dsindustry6 complete')

icbindustry2.index = p.index
try:
    icbindustry2[1:] = icbindustry2.iloc[0].values
except:
    print('Running slow method for indgroup')
    for row in icbindustry2.index:
        icbindustry2.loc[row] = icbindustry2.iloc[0].values
print('icbindustry2 complete')

dsindustry6 complete
icbindustry2 complete

### Drop Last 10 Months (not much data)

In [6]:
for field in fields:
    field.drop(list(field.loc[pd.datetime(2018, 12, 31):].index), axis=0, inplace=True)

### Get Rid of Investment Trusts

In [7]:
trusts = [stock for stock in dsindustry6.columns if dsindustry6.iloc[0][stock] == "Investment Trusts"]
print('There were {} investment trusts in this dataset'.format(int(len(trusts))))

# Drop trusts from the dataset as they are not what we are looking for
for field in fields:
    field.drop(trusts, axis=1, inplace=True)

There were 341 investment trusts in this dataset

### Remove series which don't have data for a field

In [8]:
errorCols = []
for field in fields:
    for col in field:
        try:
            if field[col].iloc[0][:4] == '$$ER': 
                errorCols.append(col)
        except:
            pass

errorCols = list(dict.fromkeys(errorCols))

for field in fields:
    for col in errorCols:
        del field[col]

print(np.stack(fields, axis=-1).shape)

(276, 1549, 13)

### Manipulating Fields

In [9]:
# Perform manipulations on some of the fields
bvtmv = 1 / mvtbv
drop_from_fields('mvtbv')

# Data Calculation

### Returns

In [10]:
r = pd.DataFrame()

r = p/p.shift(1)-1

r.name = 'r'

In [11]:
ret_3m = pd.DataFrame()
ret_6m = pd.DataFrame()
ret_9m = pd.DataFrame()
ret_12m = pd.DataFrame()
ret_18m = pd.DataFrame()
ret_24m = pd.DataFrame()
ret_36m = pd.DataFrame()

ret_3m = (1+r).rolling(window=3).apply(np.prod, raw=True)-1
ret_6m = (1+r).rolling(window=6).apply(np.prod, raw=True)-1
ret_9m = (1+r).rolling(window=9).apply(np.prod, raw=True)-1
ret_12m = (1+r).rolling(window=12).apply(np.prod, raw=True)-1
ret_18m = (1+r).rolling(window=18).apply(np.prod, raw=True)-1
ret_24m = (1+r).rolling(window=24).apply(np.prod, raw=True)-1
ret_36m = (1+r).rolling(window=36).apply(np.prod, raw=True)-1

ret_3m.name = 'ret_3m'
ret_6m.name = 'ret_6m'
ret_9m.name = 'ret_9m'
ret_12m.name = 'ret_12m'
ret_18m.name = 'ret_18m'
ret_24m.name = 'ret_24m'
ret_36m.name = 'ret_36m'

rollingReturns = [ret_3m, ret_6m, ret_9m, ret_12m, ret_18m, ret_24m, ret_36m]
for i in rollingReturns:
    print(i.values.shape)

for i in rollingReturns:
    fields.append(i)

(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)

### Moving averages

In [12]:
map_3m = pd.DataFrame()
map_6m = pd.DataFrame()
map_9m = pd.DataFrame()
map_12m = pd.DataFrame()
map_18m = pd.DataFrame()
map_24m = pd.DataFrame()
map_36m = pd.DataFrame()

# Calculate moving averages
map_3m = p.rolling(window=3).mean()
map_6m = p.rolling(window=6).mean()
map_9m = p.rolling(window=9).mean()
map_12m = p.rolling(window=12).mean()
map_18m = p.rolling(window=18).mean()
map_24m = p.rolling(window=24).mean()
map_36m = p.rolling(window=36).mean()

map_3m.name = 'map_3m'
map_6m.name = 'map_6m'
map_9m.name = 'map_9m'
map_12m.name = 'map_12m'
map_18m.name = 'map_18m'
map_24m.name = 'map_24m'
map_36m.name = 'map_36m'

# Technical indicators (crosses of MAVs for example)

movingAverages = [map_3m, map_6m, map_9m, map_12m, map_18m, map_24m, map_36m]
for i in movingAverages:
    print(i.values.shape)

for i in movingAverages:
    fields.append(i)

(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)

### Volatilities

In [13]:
std_3m = pd.DataFrame()
std_6m = pd.DataFrame()
std_9m = pd.DataFrame()
std_12m = pd.DataFrame()
std_18m = pd.DataFrame()
std_24m = pd.DataFrame()
std_36m = pd.DataFrame()

std_3m = r.rolling(window=3).std() * (12 ** 0.5)
std_6m = r.rolling(window=6).std() * (12 ** 0.5)
std_9m = r.rolling(window=9).std() * (12 ** 0.5)
std_12m = r.rolling(window=12).std() * (12 ** 0.5)
std_18m = r.rolling(window=18).std() * (12 ** 0.5)
std_24m = r.rolling(window=24).std() * (12 ** 0.5)
std_36m = r.rolling(window=36).std() * (12 ** 0.5)

std_3m.name = 'std_3m'
std_6m.name = 'std_6m'
std_9m.name = 'std_9m'
std_12m.name = 'std_12m'
std_18m.name = 'std_18m'
std_24m.name = 'std_24m'
std_36m.name = 'std_36m'

volatilities = [std_3m, std_6m, std_9m, std_12m, std_18m, std_24m, std_36m]
for i in volatilities:
    print(i.values.shape)

for i in volatilities:
    fields.append(i)

(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)
(276, 1549)

### Sector Dummy Variables

In [14]:
# Create list of sector dummies
sectorDummies = []
for sector in list(icbindustry2.iloc[0].drop_duplicates())[:-3]:
    sectorname = "ind_{}".format(sector.lower().replace(' ', ''))
    exec('{} = (icbindustry2 == sector) * 1'.format(sectorname))
    exec('{}.name = "{}"'.format(sectorname, sectorname))
    exec('{}.index.name = "{}"'.format(sectorname, sectorname))
    exec('sectorDummies.append({})'.format(sectorname))

for i in sectorDummies:
    fields.append(i)

c:\users\rfg\appdata\local\programs\python\python37\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

# Create Master Dataframe

In [44]:
# This currently takes forever and I don't think it is worth it given I can just do it as in the below cell

if False:
    # Create master dataframe - 'df'
    cols = [field.name for field in fields]
    cols.insert(0, 'date')
    cols.insert(1, 'companyid')
    cols.insert(2, 'companyname')
    df = pd.DataFrame(columns=cols)

    # Define some globals
    companyids = [str(i) for i in xlBook.sheets("all_companies").range(companyNamesRange).value]
    companyNames = [str(i) for i in xlBook.sheets("all_companies").range("B1:B2009").value]
    companies = {}
    for i in range(len(companyids)):
        companies[companyids[i]] = companyNames[i]


    # Add extra (non-field) columns
    df['date'] = [i for i in list(p.index) for c in p.columns]
    df['companyid'] = [i for date in list(p.index) for i in p.columns]
    df['companyname'] = [companies[i] for date in list(p.index) for i in p.columns]

    # Add field data
    for field in fields:
        for date in list(p.index):
            for cid in p.columns:
                col = field.name
                val = field[cid].loc[date]
                df[col][(df['companyid']==cid) & (df['date']==date)] = val
            print(field.name, date)

    df

In [43]:
for field in fields:
    try:
        del field['field']
    except:
        pass

fields_ = fields.copy()
for f in fields_:
    f.insert(0, 'field', f.name)

m = pd.concat(fields)
m['date'] = list(m.index)
m.index = range(len(m.index))
cols = list(m.columns)[:-2]
cols.insert(0, 'date')
m = m[cols]
m

,date,field,312697.0,900489.0,917574.0,904312.0,506391.0,943803.0,940226.0,901922.0,...,9313KY,8915J0,9063KR,9314PL,9317WV,92981W,9014CW,89523C,9297XT,9339MD
0,1995-12-31,p,278,636,52,224.11,68.21,402.65,254,243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-31,p,284,603,53,234.64,75.29,404.1,283,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-02-29,p,308,573.5,57,252.84,78.5,403.38,272,224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-03-29,p,267,563.5,75,274.5,76.57,401.92,262,213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,p,280,569,73,286.5,76.57,405.56,254,261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,2018-07-31,ind_telecommunications,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12140,2018-08-31,ind_telecommunications,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12141,2018-09-28,ind_telecommunications,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12142,2018-10-31,ind_telecommunications,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12143,2018-11-30,ind_telecommunications,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,field,312697.0,900489.0,917574.0,904312.0,506391.0,943803.0,940226.0,901922.0,926294.0,...,8915J0,9063KR,9314PL,9317WV,92981W,9014CW,89523C,9297XT,9339MD,9337LW
std_36m,,,,,,,,,,,,,,,,,,,,,
1995-12-31,p,278.0,636.0,52.0,224.11,68.21,402.65,254.0,243.0,163.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-31,p,284.0,603.0,53.0,234.64,75.29,404.10,283.0,210.0,166.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-02-29,p,308.0,573.5,57.0,252.84,78.50,403.38,272.0,224.0,186.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-29,p,267.0,563.5,75.0,274.50,76.57,401.92,262.0,213.0,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-04-30,p,280.0,569.0,73.0,286.50,76.57,405.56,254.0,261.0,248.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,p,55.5,643.5,392.0,502.50,317.60,411.00,108.0,227.5,1550.0,...,286.0,258.0,279.65,400.00,231.0,995.0,1856.0,152.00,NaN,NaN
2018-08-31,p,55.5,643.5,392.0,502.50,317.60,412.00,108.0,227.5,1550.0,...,318.0,254.0,262.00,492.00,257.5,826.0,1534.0,141.98,NaN,NaN
2018-09-28,p,55.5,643.5,392.0,502.50,317.60,379.50,108.0,227.5,1550.0,...,312.0,246.0,246.60,479.60,283.5,759.0,1333.0,129.08,NaN,440.0
2018-10-31,p,55.5,643.5,392.0,502.50,317.60,355.00,108.0,227.5,1550.0,...,291.0,230.0,220.00,464.75,276.3,615.0,1354.0,114.70,1525.2,373.5
2018-11-30,p,55.5,643.5,392.0,502.50,317.60,340.00,108.0,227.5,1550.0,...,288.0,218.0,253.20,455.00,273.2,595.0,1515.0,114.00,1390.0,388.0

# Export Data

In [ ]:
# Save rows and columns
def save_data():
    np.save(file=dataFolder+r'\index.npy', arr=p.index)
    np.save(file=dataFolder+r'\columns.npy', arr=p.columns)
    np.save(file=dataFolder+r'\fields.npy', arr=[field.name for field in fields])

    for field in fields:
        np.save(file=os.path.join(dataFolder, '{}.npy'.format(field.name)), arr=field)

# Misc

In [ ]:
'''
TO DO
    - Run regressions
'''